@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Noto+Sans+JP:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");

/*-- scss:defaults --*/

$font-family-sans-serif: "Noto Sans JP", Helvetica, sans-serif !default;
$font-family-monospace:	"M PLUS 1 Code", "Noto Sans JP", monospace !default;
$presentation-h-font12:	"Noto Sans JP", sans-serif !default; 
$presentation-h-font36: "Noto Sans JP", sans-serif !default; 

$font-color: #131516;
$background: #F0F5F9;
$accent: #0072BB;
$accent2: #E82825;
$right-arrow: "\2981"; // Unicode character for right arrow

$body-color: $font-color !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;

/*$primary-color: #60BFC1;*/

/*-- scss:rules --*/

p {
  text-align: justify;
}

sup::after {
  content: ")";
}